Package: poppler
Version: 0.67.0
Section: misc
Depends: qt5-opensoft
Suggests: 
Recommends: 
Architecture: amd64
Maintainer: Dmitry Nesterenok <dmitry.nesterenok@opensoftdev.ru>
Description: poppler version with pdf structure extractor
